@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.banner {
    position: relative;
}

.main-banner {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    mask-image: linear-gradient(to top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.8) 20%,
            rgba(0, 0, 0, 0.4) 90%,
            rgba(0, 0, 0, 0.15) 100%,
            rgba(0, 0, 0, 0) 100%);
}

.hero-title-container {
    position: absolute;
    bottom: 10px;
    width: 600px;
    margin: 50px;
}

.hero-title-container h1 {
    font-size: 4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.btn-container {
    display: flex;
    gap: 15px;
}

.btn-container button {
    min-width: 100px;
    height: 40px;
    padding: 10px;
    margin-top: 1rem;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.info-btn {
    color: white !important;
    background-color: rgb(84, 75, 75);
}

.play-btn {
    display: flex;
    align-items: center;

}

.btn-icon {
    width: 14px;
    height: 20px;
}

.info-btn {
    display: inline;
    align-items: center;
}