.footer {
    width: 100%;
    padding: 4rem 10rem;
    background: rgb(22, 22, 22);
    color: rgba(255, 255, 255, 0.7);
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.call-us p {
    margin-bottom: 2rem;
    font-size: 0.95rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 4rem;
}

.footer-cards p {
    cursor: pointer;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
}

@media (max-width: 900px) {
    .footer {
        padding: 3rem 4rem;
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}


@media (max-width: 500px) {
    .footer {
        padding: 2rem 1.5rem;
    }

    .call-us p {
        font-size: 0.85rem;
        margin-bottom: 1.5rem;
    }

    .footer-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .footer-cards p {
        font-size: 0.85rem;
        margin-bottom: 0.6rem;
    }
}