.title-card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.movie-card {
    display: flex;
    gap: 20px;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.movie-card::-webkit-scrollbar {
    display: none;
}

.movie-tile {
    width: 300px;
    height: 150px;
    object-fit: cover;
}

.card-items {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
}

.card-items:hover {
    transform: scale(1.1);
    z-index: 10;
}

.card-items img {
    border-radius: 5px;
    position: relative;
    transition: transform 0.3s ease;
}

.card-items p {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
    background-color: rgba(73, 76, 77, 0.052);
    transition: opacity 0.3s ease;
}