.banner {
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.banner-image {
    object-fit: cover;
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.6) 60%,
            rgba(0, 0, 0, 0.4) 100%),
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0.85) 0%,
            rgba(0, 0, 0, 0.6) 25%,
            rgba(0, 0, 0, 0) 55%);
}

.banner-content {
    max-width: 36rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.banner-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 0 0 1rem 0;
}

.banner-pricetag {
    margin: 0 0 2rem 0;
}

.banner-content p {
    margin: 0 0 1rem 0;
}

.email-subscribe {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.email-input {
    height: 3.5rem;
    width: 60%;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid red;
    border-radius: 5px;
    padding: 0 1rem;
}

.subscription-button {
    width: 40%;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}